.cart-item-img{
    height: 175px;
    width: 175px;
}

.cart-btn-container{
    display:flex;
    align-items: center;
    justify-content: start;
}

.fa-trash{
    padding-bottom: 8px;
 
}




.minus{
    border: 0;
    background-color: #fff;
    /* margin-right: 10px; */
    padding-right: 20px;
    position: relative;
    top: 5px;
}

.button-wrapper{
    display: flex;
    justify-content: start;
}

.cart-btn{
    color:black;
}
.cart-btn:hover{
    color:red;
}


.quantity{
    position: relative;
    top: 8px;
    right:10px;
    font-size: 18px;
}

.col{
    margin: 5px 0;
}

.trash-btn{
    position: relative;
    left: 50px;
}