.product-card{
    width: 13rem;
    margin-bottom: 10px;
    position:relative;   
}

.all-prod{
    margin-left: 15px
}
.product-img{
    width: 100%;
}

.product-btn{
    position:absolute;
    bottom: 0;
    right: 0;
}

@media (max-width: 800px) { 
    .product-img{
        width: 18rem;
    }
    .product-card{
        width: 18rem;
        margin-top: 25px;
    }
}