.product-card{
    width: 13rem;
    margin-bottom: 10px;
    position:relative;   
    display: flex; 
    flex-direction: column;
}

.all-prod{
    margin-left: 15px
}
.product-img{
    width: 100%;
}

.item-name{
    color:black;
    text-decoration: none;
}

.item-name:hover{
    color: blue;
}

.product-btn{
    margin-top:auto;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:7px;
	border:3px solid #dcdcdc;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    outline:none;
}

.product-btn:hover{
    background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}

.product-btn:active{
    outline:none;
}

/* 
@media (max-width: 800px) { 
    .product-img{
        width: 100%;
    }
    .product-card{
        width: 18rem;
        margin-top: 25px;
    }
} */